<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <servlet>
    <servlet-name>loginForm</servlet-name>
    <servlet-class>LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginForm</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>logoutForm</servlet-name>
    <servlet-class>LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logoutForm</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>createAccountForm</servlet-name>
    <servlet-class>CreateAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createAccountForm</servlet-name>
    <url-pattern>/createAccount</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>accountCreatedForm</servlet-name>
    <servlet-class>AccountCreationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>accountCreatedForm</servlet-name>
    <url-pattern>/accountCreated</url-pattern>
  </servlet-mapping>
</web-app>
