div form {
    text-align: center;
    border-block: solid;
    display: flex;
    padding: 0.8em;
    justify-content: center;
}

form > input {
    margin-left: 0.3em;
}

form > label {
    margin-left: 1em;
}